{% extends 'board/base.html' %}
{% block title %}{{ project }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'board:detail' project.id %}">
                    </a>
                    <h1>{{ project.name }} <small>Something</small></h1>
                    <h2>{{ project.description }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'board:detail' project.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'board:create_ticket' project.id %}">Add New Ticket</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All tickets</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Summary</th>
                            <th>Priority</th>
                            <th>Owner</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in project.ticket_set.all %}
                            <tr>
                                <td>{{ ticket.name }}</td>
                                <td>{{ ticket.priority }}</td>
                                <td>{{ ticket.owner }}</td>
                                <td>
                                    <form action="{% url 'board:delete_ticket' project.id ticket.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="ticket_id" value="{{ ticket.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
