{% extends 'board/base.html' %}
{% block title %}{{ ticket.id }}{% endblock %}
{% block projects_active %}active{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <h3>{{ ticket.id }} - {{ ticket.status }}</h3>
        <h2>{{ ticket.name }}</h2>
      </div>
      <div class="well">
        <p><a href="#">Labels</a></p>
        <p>
          <span class="label label-default">{{ ticket.team }}</span>
          <span class="label label-primary">{{ ticket.type }}</span>
          <span class="label label-success">{{ ticket.priority }}</span>
          <span class="label label-info">{{ ticket.owner }}</span>
          <span class="label label-warning">{{ ticket.status }}</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        Due date is coming!
      </div>
      <p><a href="{% url 'board:update_ticket' ticket.id %}">Modify ticket</a></p>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <h2>{{ ticket.description }}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <!--<p contenteditable="true">Status: Feeling Blue</p>-->
              <!--<button type="button" class="btn btn-default btn-sm">-->
                <!--<span class="glyphicon glyphicon-thumbs-up"></span> Like-->
              <!--</button>-->
              <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'board/form_template.html' %}
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Post</button>
                  </div>
                </div>
               </form>
            </div>
          </div>
        </div>
      </div>

      {% for comment in ticket.comment_set.all %}
        <div class="row">
          <div class="col-sm-3">
            <div class="well">
             <p>{{ comment.user }}</p>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="well">
              <p>{{ comment.content }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
{% endblock %}
